# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true


[*]
# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

indent_style = space
indent_size = 4

[Gruntfile.js]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[html_templates/**.js]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = false
insert_final_newline = false

[html_templates/**.scss]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = false
insert_final_newline = false

[**.js]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[**.html]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[**.hbs]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[plugins/**.scss]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[**.css]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

[**.xml]
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true

[**.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
insert_final_newline = true

