<script>

// Initialize a new WebView and push it to the layer stack
function showCat() {
  var webView = new steroids.views.WebView("/views/layerStackExample/showCat.html");
  steroids.layers.push(webView);
}

steroids.view.navigationBar.show("showCat.html");

</script>

<div class="content-padded">

  <div class="topcoat-button center full" ontouchstart="steroids.layers.pop()">Pop topmost layer</div>
  <br><br>
  <div class="topcoat-button center full" ontouchstart="showCat()"><small>Open another instance of showCat.html</small></div>

</div>
