{{> partials/header }}

<section class="row">
    <div class="col-md-4">
        <h3>Core Colors</h3>
        <p>Built of two core color chords: Blue and Gray.</p>

        <p>Neutrals, Black, and White balance the vibrant color scheme and help ensure that layouts do not become too colorful or saturated.</p>

        <p>Use neutrals for type and other elements such as keylines, tags, charts, and diagrams. They may also be used as background color fields.</p>

        <p>Thin and Shade colors extend the range of available colors, but these should only be used as a supplement to the primary colors.</p>

        <p>Each color is listed in its RGB and Hexadecimal values to facilitate accurate reproduction across all types of media.</p>
    </div>
    <div class="col-md-8">
        <a class="thumbnail">
            <img src="../images/branding/colors.jpg" alt="Colors">
        </a>
    </div>
</section>

<section>
    <h3>Logotype Colors</h3>
    <p> Use the reversed versions when the logotype is placed on a dark background. Please note that the reversed versions are rendered using the tint colors to create the appearance of having the same visual weight overall.</p>
    <div class="row">
        <div class="col-md-4">
             <a class="thumbnail">
                <img src="../images/branding/logo_white_bg.jpg" alt="White Background">
            </a>
        </div>
        <div class="col-md-4">
             <a class="thumbnail">
                <img src="../images/branding/logo_black_bg.jpg" alt="Black Background">
            </a>
        </div>
        <div class="col-md-4">
             <a class="thumbnail">
                <img src="../images/branding/logo_gray.jpg" alt="Gray Version">
            </a>
        </div>
    </div>
</section>

{{> partials/footer }}
