{{> partials/header }}


<h2>JUXT Downloads</h2>
<p>The JUXT Brand Guide includes everything you need for implementing our brand in marketing and other related materials. Any questions you may have regarding implementation should be answered within this Brand Guideline site. If there are any outstanding questions please contact JUXT.</p>

<section class="row">
    <div class="col-md-6">
        <h3>JUXT Logotype</h3>

        <a class="thumbnail">
            <img src="../images/branding/logotype.jpg" alt="Colors">
        </a>

        <a href="#" class="btn btn-primary btn-block">Download EPS Format</a>
        <a href="#" class="btn btn-primary btn-block">Download PNG Format</a>
        <a href="#" class="btn btn-primary btn-block">Download JPG Format</a>
    </div>
    <div class="col-md-6">
        <h3>JUXT Typography</h3>

        <a class="thumbnail">
            <img src="../images/branding/typography.jpg" alt="Typography">
        </a>

        <a href="#" class="btn btn-primary btn-block">Download Font</a>
    </div>
</section>


{{> partials/footer }}
