{{> partials/header }}

<h1>Start Guide</h1>
<p>These identity guidelines introduce the building blocks of the JUXT visual identity and outline basic rules for their use. Follow these guidelines as closely as possible to ensure visual clarity and consistency when presenting the JUXT brand on all applications. If you have questions about the visual identity or these guidelines, contact JUXT.</p>

{{> partials/footer }}
