{{> partials/header }}


<section class="row">
    <div class="col-md-4">
        <h3>Typography</h3>
        <p>The typographic family of the JUXT visual identity is DIN, a realist sans-serif typeface that is widely used for traffic, administrative and technical applications. </p>

        <p>DIN is the primary typeface, with terminals that complement the calligraphic qualities of the logotype. Helvetica Neue is the secondary typeface, a sophisticated and classic serif chosen for its letter width and legibility. </p>

        <a href="#" class="btn btn-primary btn-block">Download Font</a>
    </div>
    <div class="col-md-8">
        <a class="thumbnail">
            <img src="../images/branding/typography.jpg" alt="Colors">
        </a>
    </div>
</section>


{{> partials/footer }}
