@import "../_variables";

.btn {
    @extend .noselect;
    padding: 11px 16px;
    background-color: $gray-darker;
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 100ms;

    &:active {
        background-color: #000;
    }
}
