{{> partials/header }}


<h2>Brand Language Guidelines</h2>
<div class="row">
    <div class="col-md-12">
        <h3>Whenever we write or speak, we’re human beings talking with other human beings.</h3>
        <p>Whether it is with customers or partners and even our own people, our business is built on relationships. Our focus is on listening and in talking to people about the things that matter to them, in language they relate to, and explaining our ideas clearly and simply.</p>
    </div>
</div>

<section class="row">
    <div class="col-md-6">
        <p>Below, we have provided agency descriptions of various lengths for different contexts. As a brand, our preference is always to speak in the first person but have also provided third person alternatives for those times when first person is not appropriate.</p>
    </div>
    <div class="col-md-6">
        <p>The way that we speak of ourselves, our work, and our business is both serious and passionate. It reflects our outlook on what we do and the lengths we will go to in order to execute intelligent, extraordinary, and results-oriented work.</p>
    </div>
</section>

<section class="row">
    <div class="col-md-6">
        <h3>One line</h3>
        <p class="example">We are a strategic design and technology agency.</p>
        <h4>Third person alternative:</h4>
        <p class="example">JUXT is a strategic design and technology agency.</p>
    </div>
    <div class="col-md-6">
        <h3>One line</h3>
        <p class="example">We are a strategic design and technology agency. We create elegant, data-driven solutions that matter.</p>
        <h4>Third person alternative:</h4>
        <p class="example">JUXT is a strategic design and technology agency creating elegant, data-driven solutions that matter.</p>
    </div>
</section>

<section class="row">
    <div class="col-md-6">
        <h3>Short Paragraph</h3>
        <p class="example">We are a strategic design and technology agency. We have a fierce determination to execute extraordinary work that makes the complex appear elegantly simple.</p>
        <h4>Third person alternative:</h4>
        <p class="example">JUXT is a strategic design and technology agency with a fierce determination to execute extraordinary work that makes the complex appear elegantly simple.</p>
    </div>
    <div class="col-md-6">
        <h3>Long Paragraph</h3>
        <p class="example">We are a strategic design and technology agency focused on inventing digital solutions that are practical, sophisticated, and beautiful. We have a fierce determination to execute extraordinary work that makes the complex appear elegantly simple. This passion ensures that we always bring lasting value to our clients.</p>
        <h4>Third person alternative:</h4>
        <p class="example">JUXT is a strategic design and technology agency focused on inventing digital solutions that are practical, sophisticated, and beautiful. They have a fierce determination to execute extraordinary work that makes the complex appear elegantly simple. This passion ensures that they always bring lasting value to their clients.</p>
    </div>
</section>


{{> partials/footer }}
