{{> partials/header }}


<section class="row">
    <div class="col-md-4">
        <h3>Primary Logotype</h3>
        <p>To ensure that the JUXT logotype is clearly visible in all applications, surround it with sufficient clear space —free of type, graphics, and other elements that might cause visual clutter. Displayed here are two different clear space dimensions — preferred and minimum. </p>

        <p>Whenever possible, use the preferred clear space dimensions or provide an even larger clear space around the JUXT logotype. Ample clear space will underscore the logotype’s prominent position and its role as the anchor of the layout. Only use the minimum clear space dimensions when the application has severely limited space to accommodate the logotype. </p>

        <a href="#" class="btn btn-primary btn-block">Download EPS Format</a>
        <a href="#" class="btn btn-primary btn-block">Download PNG Format</a>
        <a href="#" class="btn btn-primary btn-block">Download JPG Format</a>
    </div>
    <div class="col-md-8">
        <a class="thumbnail">
            <img src="../images/branding/logotype.jpg" alt="Colors">
        </a>
    </div>
</section>


{{> partials/footer }}
