<style>
.count {
  display:block;
  float:right;
  color:#00AEEF;
}
</style>

<div class="padding">

  <button class="button button-block" onclick="performAnimation('flipVerticalFromBottom', 0.6)">
    flipVerticalFromBottom
    <span class="count" id="flipVerticalFromBottomCounter">0</span>
  </button>

  <button class="button button-block" onclick="performAnimation('flipVerticalFromTop', 0.6)">
    flipVerticalFromTop
    <span class="count" id="flipVerticalFromTopCounter">0</span>
  </button>

  <button class="button button-block" onclick="performAnimation('flipHorizontalFromLeft', 0.6)">
    flipHorizontalFromLeft
    <span class="count" id="flipHorizontalFromLeftCounter">0</span>
  </button>

  <button class="button button-block" onclick="performAnimation('flipHorizontalFromRight', 0.6)">
    flipHorizontalFromRight
    <span class="count" id="flipHorizontalFromRightCounter">0</span>
  </button>

  <button class="button button-block" onclick="performAnimation('slideFromLeft', 0.6)">
    slideFromLeft
    <span class="count" id="slideFromLeftCounter">0</span>
  </button>

  <button class="button button-block" onclick="performAnimation('slideFromRight', 0.6)">
    slideFromRight
    <span class="count" id="slideFromRightCounter">0</span>
  </button>

  <button class="button button-block" onclick="performAnimation('slideFromTop', 0.6)">
    slideFromTop
    <span class="count" id="slideFromTopCounter">0</span>
  </button>

  <button class="button button-block" onclick="performAnimation('slideFromBottom', 0.6)">
    slideFromBottom
    <span class="count" id="slideFromBottomCounter">0</span>
  </button>

  <button class="button button-block" onclick="performAnimation('curlUp', 0.4)">
    curlUp
    <span class="count" id="curlUpCounter">0</span>
  </button>

  <button class="button button-block" onclick="performAnimation('curlDown', 0.6)">
    curlDown
    <span class="count" id="curlDownCounter">0</span>
  </button>

</div>

