<h1>Bootstrap starter template
  <p class="lead">Use this document as a way to quickly start any new project.<br/>All you get is this text and a mostly barebones HTML document.</p>
</h1>

{{get_component 'search_bar' data='{"input_label" : "test label", "input_type" : "text", "input_value" : "", "input_placeholder" : "Enter your query"}'}}
{{$ 'search_bar' data='{"input_label" : "test label", "input_type" : "text", "input_value" : "", "input_placeholder" : "Enter your query"}'}}
