<h1>Bootstrap starter template
  <p class="lead">Use this document as a way to quickly start any new project.<br/>All you get is this text and a mostly barebones HTML document.</p>
</h1>

{{get_component 'component/search_bar' opts='{"option" : "value"}' data='{"input_label" : "This is a label"}'}}

{{get_component 'component/search_bar' opts='{"option" : "value"}' data='{"input_label" : "This is another label"}'}}
